<!DOCTYPE html>
<html>
    <head>
        <title>Froyo Ordering</title>
    </head>
    <body>
        <!-- Your HTML code goes here! -->
        <form action="/froyo_results" method="POST">
            What is your favorite Fro-Yo flavor? <br/>
            <input type="text" name="flavor"><br/>
            <br/>What is your favorite toppings on your Fro-Yo?<br/>
            <input type="text" name="toppings"><br/>
            <input type="submit" value="Submit!">
        </form>        
    </body>
</html>